{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block section %}

{% for error in errors %}
    <p>{{ error }}</p>
{% endfor%}

<form method="post">
    <!-- Para que bloquee Django por seguridad contra CSRF -->
    {% csrf_token %}
    <!-- Llamamos al formulario login_form inyectado en el controlador users/views.py y lo ponemos
     como tabla -->
    <table>
        {{ login_form.as_table }}
    </table>
    <div>
        <button>Entrar</button>
    </div>
</form>

{% endblock %}